/*Estructura básica. No modificar*/

:root{ /*Declaración de colores*/
    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    /* Neutral */
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
    --gray-p: rgb(139, 139, 139);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5{ /*Títulos*/
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    
    margin-block: 0;
}
p{
    font-family: 'Open-sans', sans-serif;
    font-weight: 400;
    text-align: center;
    
    margin-block: 0;
}
section{
    width: 100%;
    margin: 0 auto;
}
/*Termina estructura básica*/

/*Móvil: desde 375 px*/
nav{
    padding: 20px;
    display: flex;
    flex-direction: rcolumn;
    justify-content: space-between;
}
nav img{
    width: 85px;
    height: 15px;
}
nav button{
    border: 1px solid var(--Pink);
    padding: 5px 20px;
    border-radius: 15px;
    background-color: white;
    color: var(--Pink);
    font-size: 10px;
}
#title{    
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
}
#title p{
    font-weight: 300;
    line-height: 20px;
    font-size: 15px;
}
.start-button{
    border: none;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: var(--Pink);
    color: white;
    font-weight: 800;
    font-size: 11px;
    margin-top: 30px;
    box-shadow: 0px 4px 1px 1px rgba(0, 0, 0, 0.1);
}

#Numbers{
    width: 100%;
    text-align: center;
}

#Numbers .mockups{
    width: 280px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;

}
.data{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 100px;
    
}
#Numbers .data img{
    width: 30px;
    height: 29px;
    transform: translateX(105px);
}
#Numbers .data h2{
    font-size: 3.5rem;
    font-weight: 700;
}
#Numbers .data p{
    font-size: .9rem;
    color: rgb(139, 139, 139);
}
#growing{
    width: 80%;
    text-align: center;
    color: var(--Very-Dark-Cyan);
    margin-bottom: 200px; 
}
#growing img{
    width: 250px;
    margin-bottom: 80px;
}
#growing p{
    line-height: 20px;
    font-size: .9rem;
}
#get-started{
    text-align: center;
    margin-bottom: 200px;
}
#newsletter{
    background-color: var(--Very-Dark-Cyan);
    height: 150px;
    padding:30px;
}
#newsletter div{
    width: 80%;
}
#newsletter p, #newsletter h4{
    color: white;
    text-align: left;
}
#newsletter h4{
    font-weight: 600;
}
#newsletter p{
    font-family: 'Poppins', sans-serif;

    font-size: .8rem;
    font-weight: 400;
    line-height: 25px;
}



/*Desktop, desde 1440 px*/
@media only screen and (min-width: 1440px){

    
}




/* h´s
- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 700

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 600, 700 */